<html>
    <head>
        <title>JSON Example</title>
    </head>
    <body>
        <pre>
            <code>
              {
                "job_titles":{
                   "Clinicien en toxicomanie":{
                      "Abus de substance":0,
                      "Sante mentale":0,
                      "Psychotherapie":0,
                      "Intervention de crise":0,
                      "ID":65
                   },
                   "Cantonnier":{
                      "null":0,
                      "ID":66
                   },
                   "Instructeur de facturation et de codage medical":{
                      "Facturation medicale et codage":0,
                      "Facturation":0,
                      "Codage CPT":0,
                      "Terminologie medicale":0,
                      "ID":67
                   }
                }
             }
            </code>
        </pre>
    </body>
</html>